Repository SeeleyFamily/kentico: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-cms.yml, azure-pipelines-mvc.yml

Path conditions:
  azure-pipelines-cms.yml: any of: Kentico, but not: Kentico/Launchpad.Web, Kentico/Launchpad.Infrastructure.Kentico.Web, Kentico/Launchpad.Infrastructure.Tests, Kentico/Tests/Launchpad.Infrastructure.Tests, Kentico/Launchpad.Api, Kentico/Launchpad.Infrastructure.DependencyInjection, Kentico/Launchpad.sln, Kentico/Custom.Api, Kentico/Custom.CacheDisplay, Kentico/Custom.Infrastructure.Tests, Kentico/Tests/Custom.Infrastructure.Tests, Kentico/Custom.Core, Kentico/Custom.Infrastructure, Kentico/Launchpad.Core, Kentico/Launchpad.Infrastructure
  azure-pipelines-mvc.yml: any of: Kentico, README.md, but not: Kentico/CMS, Kentico/CMSAppCustom, Kentico/Launchpad.Infrastructure.Kentico.CMS, Kentico/WebApp.sln, Kentico/Common.Migration.*

Initial commit
  README.md
Due: azure-pipelines-mvc.yml

buildspec.yml
  buildspec.yml
Due: none

adding SmartSearch directory structure and modified .gitignore to not ignore it
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_StopWords/ar.txt
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_StopWords/cs.txt
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_StopWords/de.txt
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_StopWords/es.txt
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_StopWords/fr.txt
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_StopWords/it.txt
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_StopWords/nl.txt
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_StopWords/pl.txt
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_StopWords/pt.txt
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_StopWords/ru.txt
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_StopWords/sv.txt
  Kentico/CMS/App_Data/CMSModules/SmartSearch/_Synonyms/en.zip
Due: azure-pipelines-cms.yml

Update .gitignore
  .gitignore
Due: none

shortening path
  buildspec.yml
Due: none

buildspec
  buildspec.yml
Due: none

testing
  Kentico/CMS/test.html
Due: azure-pipelines-cms.yml

EB manifest file
  aws-windows-deployment-manifest.json
Due: none

manifest and buildspec
  aws-windows-deployment-manifest.json
  buildspec.yml
Due: none

buildspeccy
  buildspec.yml
Due: none

help me
  buildspec.yml
Due: none

help mamma
  buildspec.yml
Due: none

help us
  buildspec.yml
Due: none

test.html
  Kentico/CMS/test.html
Due: azure-pipelines-cms.yml

adding abc.html
  Kentico/abc.html
Due: azure-pipelines-cms.yml, azure-pipelines-mvc.yml

ABC test
  Kentico/CMS/abc.html
Due: azure-pipelines-cms.yml

testing
  Kentico/CMS/CMSApp.csproj
  Kentico/abc.html
Due: azure-pipelines-cms.yml, azure-pipelines-mvc.yml

Immutable Updates
  Kentico/CMS/test.html
Due: azure-pipelines-cms.yml

reset.config
  .ebextensions/reset.config
Due: none

testing
  buildspec.yml
Due: none

testy
  buildspec.yml
Due: none

testing deployment
  Kentico/CMS/test.html
Due: azure-pipelines-cms.yml

testing
  .ebextensions/IIS_IUSRS.config
  .ebextensions/https-instance-dotnet.config
  .ebextensions/https-instance-single.config
Due: none

IIS_IUSRS
  .ebextensions/IIS_IUSRS.config
Due: none

IIS_IUSRS script change
  .ebextensions/IIS_IUSRS.config
Due: none

updating manifest to allow postinstall scripts
  aws-windows-deployment-manifest.json
Due: none

manifest postinstall test
  aws-windows-deployment-manifest.json
Due: none
